vs_project/frontend/appsettings.json
vs_project/frontend/bin/*
vs_project/frontend/wwwroot/*
vs_project/frontend/obj/*
vs_project/frontend/.vs/*

vs_project/backend/DigiCertGlobalRootCA.crt.pem
vs_project/backend/appsettings.json
vs_project/backend/bin/*
vs_project/backend/wwwroot/*
vs_project/backend/obj/*
vs_project/backend/.vs/*
.vs/*
*.map
*.log
*.bin