@model IEnumerable<preguntados.Models.Jugadore>

@{
    ViewData["Title"] = "Index";
}


<h1>Bienvenido @ViewBag.player</h1>
<div class="row">
    <iframe src="~/../Vpreguntasaleatorias" width="100%" height="50%"></iframe>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Columna 1</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Columna 2</h2>
        <iframe src="~/../Vhistorialresultados" width="100%" height="500px"></iframe>
    </div>
</div>